h1 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

body {
    background-image: url ("blackmarble.jpg");
}

.nav {
    background-color: white; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
td {
    height: 50px;
    vertical-align: bottom;
}

table {
    border: none;
}

.gd-img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    outline: 1px dotted blue;
}
.gd-img .img-wrap {
    margin: 10px;
}

.gd-img img {
    display: block;
}

.gd-img:hover .img-wrap {
    background-color: black;
}

.gd-img:hover img {
    opacity: 0.6;
}
